<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCldMiK9wayAZ-lPny-C8Z9mv5UtVZelio</string>
	<key>GCM_SENDER_ID</key>
	<string>898488212654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodOrderingGta.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>food-ordering-8db</string>
	<key>STORAGE_BUCKET</key>
	<string>food-ordering-8db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898488212654:ios:a298fe5235d8ab09c9e13f</string>
</dict>
</plist>